# Python virtualenv
.venv
venv
.env

# Cache Python
__pycache__
*.py[cod]
*$py.class
*.so

# Build
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Testes
.pytest_cache/
.coverage
htmlcov/
.tox/
